<ol class="list-group list-group-numbered mt-5">

  <li *ngFor="let item of productos" class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">{{item.name}}</div>
      {{item.cantidad}}
    </div>
    <span class="badge bg-primary rounded-pill">{{item.precio}}</span>
  </li>

</ol>
