<div class="container">
  <ol class="list-group mt-5">

    <li *ngFor="let item of productos"  [ngStyle]="{'background-color': item.state ?'#2ecc71':'#e74c3c'}"  class="list-group-item d-flex justify-content-between align-items-start">

      <div class="ms-2 me-auto">
      <button type="button" class="btn btn-primary" (click)="editProduct(item.id)">Editar</button>
      <button style=" margin-left: 3px;" type="button" class="btn btn-secondary" (click)="deleteProduct(item.id)"  >Eliminar</button>
     </div>
      <div   class="ms-2 me-auto">
        <div class="fw-bold">{{item.name}}</div>
       Cantidad: {{item.cantidad}} - Fecha de expiracion: {{item.dateExperit}}
      </div>
      <span class="badge bg-primary rounded-pill">{{item.precio}} Bs.</span>
      <br>
      Estado: {{item.labelEstato}}
    </li>

  </ol>

</div>


