<div class="container mt-5">

  <form  (ngSubmit)="submitForm()" [formGroup]="newProduct">

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nombre</label>
      <input type="text" class="form-control" formControlName="name" >
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Cantidad</label>
      <input type="text" class="form-control" formControlName="cantidad">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Precio</label>
      <input type="text" class="form-control" formControlName="precio">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Fecha de expiracion</label>
      <input type="date" class="form-control" formControlName="dateExpirit">
    </div>
    <div class="form-check">
      <input class="form-check-input" value="true" type="radio" formControlName="state">
      <label class="form-check-label" for="flexRadioDefault1">
       Activo
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" value="false" type="radio"  formControlName="state">
      <label class="form-check-label" for="flexRadioDefault2">
       Inactivo
      </label>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
